vesihiisi
vesihiisi-dev
libvesihiisi*
test/*.out

# Qt Creator stuff:
vesihiisi.creator
vesihiisi.creator.user
vesihiisi.cflags
vesihiisi.config
vesihiisi.cxxflags
vesihiisi.files
vesihiisi.includes
.qtc_clangd

